[project]
	description = A Python module for system storage configuration
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Timothy Asir (TimothyAsirJeyasing)
[access "refs/for/refs/*"]
	read = group user/Timothy Asir (TimothyAsirJeyasing)
	push = group user/Timothy Asir (TimothyAsirJeyasing)
	label-Code-Review = -2..+2 group user/Timothy Asir (TimothyAsirJeyasing)
	label-Verified = -1..+1 group user/Timothy Asir (TimothyAsirJeyasing)
	rebase = group user/Timothy Asir (TimothyAsirJeyasing)
	removeReviewer = group user/Timothy Asir (TimothyAsirJeyasing)
	submit = group user/Timothy Asir (TimothyAsirJeyasing)
[access "refs/heads/*"]
	read = group user/Timothy Asir (TimothyAsirJeyasing)
	create = group user/Timothy Asir (TimothyAsirJeyasing)
	push = +force group user/Timothy Asir (TimothyAsirJeyasing)
	pushMerge = group user/Timothy Asir (TimothyAsirJeyasing)
[access "refs/tags/*"]
	push = +force group user/Timothy Asir (TimothyAsirJeyasing)
	pushTag = group user/Timothy Asir (TimothyAsirJeyasing)
	pushSignedTag = group user/Timothy Asir (TimothyAsirJeyasing)
